@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix Leaflet conflicts with Tailwind's preflight */
.leaflet-container {
  z-index: 0;
  font-family: inherit;
}

.leaflet-container img {
  max-width: none !important;
  max-height: none !important;
}

/* leaflet-geosearch overrides */
.leaflet-control-geosearch form {
  background: white;
}
